WEBSITE_DOMAIN=localhost:3000
WEBSITE_ID=your-website-id
INTEGRATED_AI_API_URL=
INTEGRATED_AI_API_KEY=
PROXY_ENTRANCE_ID=
NODE_ENV=development

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=physiome
PORT=3000

# Prisma Connection String
DATABASE_URL="mysql://root:password@localhost:3306/physiome"